{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div>
    {% include 'common/sidenav.html.twig' %}
    <div id="root">
    </div>
</div>
{% endblock %}
